Model/
vector_db/
civilai/
civilapp/
civilweb/
MCE/
MCE_SOURCE/
uploaded_pdfs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
*.gif:Zone.Identifier
*.jpeg:Zone.Identifier
*.py:Zone.Identifier
*.DS_Store
.env
host_flag.txt
session_reset.flag
.vscode/
.idea/
